################################################################################
# Node-RED Stack or Compose
################################################################################
# docker stack deploy node-red --compose-file docker-compose-node-red.yml
# docker-compose -f docker-compose-node-red.yml -p myNoderedProject up
################################################################################

services:
  node-red:
    build: ./NodeRed/
    environment:
      - TZ=Europe/Amsterdam
      - FLOWS=flows.json
    #  - NODE_OPTIONS=""
      - NODE_RED_CREDENTIAL_SECRET=your_secret_goes_here
    ports:
      - "1880:1880"
    networks:
      - node-red-net
    volumes:
      - ./NodeRed/data:/data

  influxdb3-core:
    container_name: influxdb3-core
    image: influxdb:3-core
    ports:
      - 8181:8181
    command:
      - influxdb3
      - serve
      - --node-id=node0
      - --object-store=file
      - --data-dir=/var/lib/influxdb3/data
      - --plugin-dir=/var/lib/influxdb3/plugins
    volumes:
      - type: bind
        source: ~/.influxdb3/core/data
        target: /var/lib/influxdb3/data
      - type: bind
        source: ~/.influxdb3/core/plugins
        target: /var/lib/influxdb3/plugins

  influxdb3-ui:
    container_name: influxdb3-ui
    image: influxdata/influxdb3-ui
    ports:
      - "8888:80"
    command:
      - --mode=admin
    depends_on:
      - influxdb3-core
    networks:
      - node-red-net
volumes:
  node-red-data:
networks:
  node-red-net:
